@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100vw;
  overflow: hidden;
  background-color: #eeeeee;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glass{
background: rgba(51, 51, 51, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.c-scrollbar{
  z-index: 50;
  pointer-events: none;
}

.c-scrollbar_thumb{
  background-color: #000;
  opacity: 1;
}

.neu-bg{
  background: #fff;
}

.filter-shadow{
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.63) 0%, rgba(0,0,0,1) 100%);
}

.glass-btn{
  background: rgba(139, 139, 139, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  }

  .marquee{
    background: 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 300;
    font-size: 3vw;
    text-transform: uppercase;
    z-index: 20;
}

.marquee__inner {
    display: flex;
    width: fit-content;
    flex: auto;
    flex-direction: row
}

.marquee__part {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 100px
}

.glass-div{
  background: rgba(143, 143, 143, 0.096);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-bcakdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }